<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">    
              
         <!-- Bootstrap -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
         
         <!-- Google Fonts -->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">   
         
         <link th:href="@{/css/style.css}" rel="stylesheet" >
         
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div> 
         
         <title>レビュー詳細</title>       
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/admin/reviews}">レビュー一覧</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">レビュー詳細</li>
                                 </ol>
                             </nav> 
                             
                             
                             <div class="d-flex justify-content-end align-items-end mb-3">                    
                                 <div>
                                     <a th:href="@{/admin/reviews/__${review.getId()}__/edit}">編集</a>                                    
                                 </div>
                             </div>                                                    
                             
                             <div class="container mb-4">
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">ID</span>          
                                     </div>                                                  
             
                                     <div class="col">
                                         <span th:text="${review.getId()}"></span>
                                     </div>
                                 </div>
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">投稿者</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${review.getUser().getName()}"></span>
                                     </div>
                                 </div>                    
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">レビュー評価</span>
                                     </div>
             
                                     <div class="col">
                                         <span class="nagoyameshi-star" th:each="star : ${#numbers.sequence(1, 5)}" th:text="${star <= review.getScore()} ? '&#9733;' : '&#9734;'"></span>													
                                     </div>
                                 </div>
             
                                 <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">レビュー内容</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${review.getContent()}"></span>
                                     </div>
                                 </div> 
                                 
                                <div class="row pb-2 mb-2 border-bottom">
                                     <div class="col-4">
                                         <span class="fw-bold">レビュー作成日</span>
                                     </div>
             
                                     <div class="col">
                                         <span th:text="${#dates.format(review.getCreatedAt(), 'yyyy年MM月dd日')}"></span>
                                     </div>
                                 </div>                                
                                 
                                                                 
                             </div>                                                  
                 
                         </div>
                     </div>
                 </div>             
             </main>
             
             <!-- フッター -->
             <footer>
                 <div class="d-flex justify-content-center align-items-center h-100">
                     <p class="text-center text-muted small mb-0">&copy; SAMURAI Travel All rights reserved.</p>      
                 </div>                 
             </footer>
         </div>    
         
         <!-- Bootstrap -->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>        
     </body>
 </html>